# SPDX-License-Identifier: GPL-2.0+
#
# (C) Copyright 2022 Broadcom Ltd
#

if BCM6750

config TARGET_BCM96750REF1
	bool "Broadcom 6750 Reference Board"
	depends on ARCH_BCMBCA

config SYS_SOC
	default "bcm6750"

source "board/broadcom/bcm96750ref1/Kconfig"

endif

